body {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    background-image: url(XO_Background);
    background-size: cover;
}

h1 {
    color:whitesmoke;
    /* background: -webkit-linear-gradient(rgb(252, 151, 0), rgb(234, 29, 91)); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.cell {
    width: 75px;
    height: 75px;
    /* border: 2px transparent; */
    /* box-shadow: 0 0 0 2px; */
    margin: 3px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background: whitesmoke;
    color: purple;

}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#gameContainer{
    font-family: 'Comfortaa', cursive;

}

#statusText {
    color: whitesmoke;
    font-size: 36px;
    margin: 20px;

}

#reset {
    color: rgb(72, 72, 72);
    font-size: 20px;
    background-color: whitesmoke;
    border: 5px;
    border-radius: 25px;
    padding: 15px;

}